<div class="cc-license animated" itemprop="sponsor">
  <a href="https://pages.github.com/" class="cc-opacity" title="Deploy with Github Pages → https://pages.github.com" target="_blank"><img width="80" src="https://pages.github.com/images/logo.svg" alt="Github Pages"></a>
</div>
